@media screen and (max-width: 500px) {
    
    header,section, footer, .main-content{
       padding: 2rem;
    }

    hr{
        height: 2px;
    }

    header{
        flex-direction: row;
    }

    .hero-text{
        width: auto;
    }

    .menu-bar{
        display: none;
    }

    .harmbuger-menu{
        margin: auto 0;
        
        width: 2rem;

    }


    .bar{
        background-color: var(--brand-color);
        height: 2px;
        margin: .3rem;
    }

    .main-content{
        padding: 0;
    }
    .about{
        width: auto;
        margin: 2rem auto;
        text-align: center;
    }

    .genre .btn{
        margin: .2rem 0;
    }

    footer{
        flex-direction: column;
        font-size: x-small;
    }

    .nav-title{
        margin:  0;
    }

    .navlist-item{
        list-style-type: none;
    }

    .footer-nav{
        justify-content: space-around;
        text-align: center;
    }



    

}